<div id="background-wrapper">
  <div id="login-form-wrap">
    <h2>Login</h2>
    <form [formGroup]="loginForm" id="login-form" class="mt-4">
      <p>
        <input formControlName="email" type="email" id="email" name="email" placeholder="Email Address" required>
        <i class="validation"><span></span><span></span></i>
        <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
          class="alert alert-danger mt-1">
          <div *ngIf="loginForm.controls.email.errors?.['required']">
            Email address is required.
          </div>
          <div *ngIf="loginForm.controls.email.errors?.['email']">
            Email address must be valid.
          </div>
        </div>
      <p>
        <input formControlName="password" type="password" id="password" name="password" placeholder="Password" required>
        <i class="validation"><span></span><span></span></i>
        <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
          class="alert alert-danger mt-1">
          <div *ngIf="loginForm.controls.password.errors?.['required']">
            Password is required.
          </div>
        </div>
      <p>
        <select formControlName="userType" id="userType" name="userType" required>
          <option value="" disabled>Select User Type</option>
          <option value="doctor">Doctor</option>
          <option value="user">Patient</option>
        </select>
        <i class="validation"><span></span><span></span></i>
        <div *ngIf="loginForm.controls.userType.invalid && (loginForm.controls.userType.dirty || loginForm.controls.userType.touched)"
          class="alert alert-danger mt-1">
          <div *ngIf="loginForm.controls.userType.errors?.['required']">User type is required.</div>
        </div>
      <p>
        <input type="submit" id="login" value="Login" role="button" (click)="login()" [disabled]="loginForm.invalid">
      </p>
    </form>
    <div id="create-account-wrap">
      <p>Not Registered? <a (click)="signup()">Create an Account</a></p>
    </div> 
  </div>
