<app-navbar></app-navbar>
<div class="container">
    <h2>Schedule List</h2>
    <p *ngIf="userType === 'doctor'">
    <button class="btn btn-primary mb-3" (click)="navigateToAddSchedule()">
        <i class="fas fa-plus"></i> Add Schedule
      </button>
      </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Doctor ID</th>
          <th>Schedule Date</th>
          <th>Schedule Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td>{{ schedule.doctor_id.name }}</td>
          <td>{{ schedule.schedule_date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ schedule.schedule_time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
<app-footer></app-footer>