]

  <div class="container">
    <h2>Schedule List</h2>
    <button type="button" class="btn btn-secondary back" (click)="back()">Back</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Doctor ID</th>
          <th>Schedule Date</th>
          <th>Schedule Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td>{{ schedule.doctor_id.name }}</td>
          <td>{{ schedule.schedule_date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ schedule.schedule_time }}</td>
          <td>
            <button class="btn btn-primary" (click)="addToAppointment(schedule)">
              Book Appointment
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  